<html>

<head>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href="substyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<body style="font-size: large;">

<h1>Welcome to Mama Home School!</h1>

<br>
<br>

This site will help you to plan out your free time with free courses. Select your courses from the course selection menu and your preferred working hours from the availability menu. Then Mama will plan your course schedule for integration into your favorite electronic calendar.

<form action = "/about" method="post">
		<br>
			Enter your email:
			<input type="text" name = "youremail">
		<br>

<input class="pure-button" type="submit" value="Submit">
</form>
</body>
</html>