<html>
<head>
	<title>Select Courses</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	<link href="substyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	<table class="pure-table">
			<thead>
			<tr>
				<th></th>
				<th>Course Number</th>
				<th>Course link</th>
			</tr>
			</thead>
		<% courses = Scraper.coursearray %>
		<% courses.each do |course| %>
		<tbody>
        <tr class="pure-table-striped">
			<td><%= course[:title] %></td>
			<td><%= course[:number] %></td>
			<td><%= course[:link] %></td>
		</tr>
		<% end %>
	</table>
</body>
</html>