

<html>
	<head>
		<title>Mamma Home School</title>
		<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
		<link href="style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1> listen funny listen</h1>
		<div id=vidframe>
			<iframe width="853" height="480" src="<%= url %>" frameborder="0" allowfullscreen></iframe>
		</div>

		<h2> enter your own funny listen</h2>
		
		<form action="/login" method="post">
  
		</form>
		
	</body>
</html>
