<html>
	<head>
		<title>PICKATIME</title>
		<link href="pickadate/default.date.css" rel="stylesheet" type="text/css">
		<link href="pickadate/default.time.css" rel="stylesheet" type="text/css">
		<link href="pickadate/default.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>  	
		<script type="text/javascript" src="script.js"></script>
  		<script type="text/javascript" src="pickadate/picker.js"></script>
  		<script type="text/javascript" src="pickadate/picker.time.js"></script>
  		<script type="text/javascript" src="pickadate/legacy.js"></script>
  		<script type="text/javascript" src="pickadate/picker.date.js"></script>
  		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  		<link href="substyle.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<form action = "/scheduler/yournewschedule" method="post">
			When do you want to start?
			<input name="startdate" placeholder="Start Date" type="text" class="datepicker"/>
			<br>
			
			<br>
			How many hours a week do you want to work?
			<input type="text" name = "hoursPerWeek">
			<br>

			<br>
			When are you available?
			<br>
			
			<%dayarr.each do |day| %>
				<%=day%>
				<input name="<%=day%>-starttime" placeholder="Start Time" type="text" class="timepicker"/>
				<input name="<%=day%>-endtime" placeholder="End Time" type="text" class="timepicker"/>
				<br>
				<%end%>	
				<input class="pure-button" type = "submit">
		</form>
	</body>
</html>