<html>
<head>
	<title>Your Schedule</title>
	<link href="substyle.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Your Schedule</h1>
	<a href="../newcal.ics">Your New Calendar </a>
</body>
</html>