<html>
<head>
	<title>Your Schedule</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	<link href="substyle.css" rel="stylesheet" type="text/css">
</head>
<body style="background-repeat: no-repeat; background-size: 100%; background-color: white; font-family: 'Oswald'; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.6); color: #7F0000; text-shadow: 0px 0px 10px white">
	Your Schedule
	<br>
	<br>
	<a href="../newcal.ics">Your New Calendar </a>
</body>
</html>