body
{
background-image:url(http://fmonster.files.wordpress.com/2010/04/fifties-housewife-apron_2.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-color: white;
font-family: "Oswald";
}

h1
{
	color: #7F0000;
	text-shadow: 1px 2px black;
}
a:link, a:visited {
	text-decoration: none;
	color: black;
	}

a:hover {
	text-shadow: 0px 0px 10px white;;
	color: black;
	}

a:active {
	text-shadow: 0px 0px 10px white;;
	color: gray;
	}

#courses{
	background-color: #7F0000 ;
	font-family: "Oswald";
	color: black;
	opacity: 0.9;
}


#availability{
	background-color: #FF0000;
	font-family: "Oswald";
	color: black;
	opacity: 0.9;
}

#schedule{
	background-color: #7F2626;
	font-family: "Oswald";
	color: black;
	opacity: 0.9;
}

#about{
	background-color: #FF3D30;
	font-family: "Oswald";
	color: black;
	opacity: 0.9;
}

#container{
	min-height: 60%;
}

